.title{
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    font-size: 48px;
    letter-spacing: 8px;
    margin-top: 20px;
    border-bottom: 2px solid grey;
    text-shadow: 0px 3px 10px black;

}
.wrapAll{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.wrapAll p{
    color: rgb(255, 255, 255);
    padding: 15px 125px;
    border-radius: 999px;
    font-size: 22px;
    text-shadow: 0px 3px 10px black;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.wrapResps{
    background-color: #777777;
color: #ffffff;
padding: 20px;
border-radius: 10px;
min-width: 400px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;
}

.wrapResps h2{
font-size: 32px;
color: aliceblue;
}

.wrapResps h3{
    font-size: 28px;
    color: #b4cbe1;
}