* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

h1{
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}